# Ignore dependencies
frontend/node_modules/
server/node_modules/

# Logs
*.log

# Environment files
server/.env
frontend/.env

# Build outputs
frontend/dist/
frontend/build/
server/dist/
server/build/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
